<div class="content projects-content center-stage">
  <h1>Projects</h1>
  <div class="feature-wrapper">
    <div class="prime-card clearfix below-view" viewportCheck>
      <div class="dp main">
        <h2>My hobby projects</h2>
        <i class="icon-social-github"></i>
      </div>
      <div class="info-wrapper">
        <div class="card feature-content featured-project">
          <div class="title">
            <h3>My Portfolio</h3>
            <a class="github-link" href="https://github.com/Jayabratha/my-portfolio">
              <span>my-portfolio</span><i class="icon-social-github"></i>
            </a>
          </div>
          <div class="desc">This project is my personal portfolio showcaseing my art works, projects and blog</div>
          <div class="footer">
            <div class="tags">
              <ul class="tag-list">
                <li>
                  <div class="tag-color firebase"></div><div class="tag-text">firebase</div>
                </li>
                <li>
                  <div class="tag-color angular"></div><div class="tag-text">angular</div>
                </li>
              </ul>
            </div>
            <a href="https://github.com/Jayabratha/my-portfolio">
              <div class="button-wrapper">
                <div class="background"></div>
                <button>VIEW PROJECT</button>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="all-projects-container">
    <h2>All projects</h2>
    <ul class="project-list">
      <li class="project card view-check below-view" viewportCheck *ngFor="let project of projects">
        <div class="title">
          <h3>{{project?.title}}</h3>
          <a class="github-link" [href]="project?.githubUrl">
            <span>{{project?.appName}}</span>
            <i class="icon-social-github"></i>
          </a>
        </div>
        <div class="desc">{{project?.description}}</div>
        <div class="footer">
          <div class="tags">
            <ul class="tag-list" (click)="toggleTagShow(project)" [class.show-tags]="project?.showTags">
              <li *ngFor="let tag of project?.tags.split(', ')">
                <div class="tag-color {{tag}}">{{tag.charAt(0)}}</div>
                <div class="tag-text">{{tag}}</div>
              </li>
            </ul>
          </div>
          <a [href]="project?.appUrl">
            <div class="button-wrapper">
              <div class="background"></div>
              <button>VIEW PROJECT</button>
            </div>
          </a>
        </div>
      </li>
    </ul>
  </section>
</div>