.contact-form {
    padding-left: 1em;
}
.message {
    height: 10.15em;
}

.button-wrapper {
    width: 100%;
}

.button-wrapper .background {
    background: #212121;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-wrapper .background .loading-icon {
    display: none;
    height: 25px;
    width: 25px;
    border-top-color: #FFFFFF;
}

.email-sent {
    display: none;
}

.act-icon:before {
    position: relative;
    top: 0.25em;
    font-size: 1.5em;
    padding: 0 10px;
}

.button-wrapper.sending .background {
    width: 100%;
}

.button-wrapper.sending button,
.button-wrapper.sent button {
    opacity: 0;
}

.button-wrapper.sending .background .loading-icon {
    display: block;
}

.button-wrapper.sent {
    border-color: green;
}

.button-wrapper.sent .background {
    background-color: green;
    width: 100%;
    color: #FFFFFF;
}

.button-wrapper.sent .background .loading-icon {
    display: none;
}

.button-wrapper.sent .background .email-sent {
    display: block;
    top: -3px;
    position: relative;
}

button.submit-contact {
    width: 100%;
    border-color: #212121;
    color: #212121;
    opacity: 1;
}

.button-wrapper:hover button {
    color: #ffffff;
}

.facebook {
    background-color: #3b5998;
}

.instagram {
    background-color: #ffffff;
}

.linkedin {
    background-color: #0077b5;
}

.whatsapp {
    background-color: #25D366;
}

#map {
    position: relative;
    width: 100%;
    height: 500px;
}

@media (min-width: 650px) {
    .name-wrapper {
        float: left;
        width: 50%;
    }   
    .input-wrapper input.last-name {
        border-left: none;
    }
}

@media (max-width: 650px) {
    .contact-form {
        padding-left: 0;
    }
}
@media (min-width: 650px) and (max-width: 950px) {
    .message {
        height: 8.4em;
    }
}
@media (min-width: 1450px) {
    .message {
        height: 13em;
    }
}