.js-logo {
    position: relative;
    display: inline-block;
    background: black;
    width: 5em;
    height: 4em;
}

/* Center Stage Design - Start */

.center-stage {
    width: 65%;
    min-width: 55em;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1300px) and (max-width: 1450px) {
    .center-stage {
        width: 70%;
        min-width: 0;
    }
}

@media (min-width: 1200px) and (max-width: 1300px) {
    .center-stage {
        width: 75%;
        min-width: 0;
    }
}

@media (max-width: 650px) {
    .center-stage {
        width: 100%;
        min-width: 0;
    }
}

/* Center Stage Design - End */

/* Route Components Base Styles - Start */

.main-content {
    margin-top: 3.8em;
}

.feature-wrapper {
    position: relative;
    overflow: hidden;
    margin: 1.2em 0;
}

.content {
    position: relative;
    padding-top: 2em;
}

.content h1 {
    padding: 0.2em 0 0.5em;
    font-size: 3em;
    margin: 0;
    color: #212121;
    font-weight: normal;
    border-bottom: thin dotted #cdcdcd;
}

.content h2 {
    font-size: 2em;
    font-family: Roboto;
    font-weight: 100;
    margin: 0;
    padding: 0.5em 0;
}

.content .main {
    position: relative;
    font-size: 2em;
    font-family: Playfair Display;
    font-weight: 100;
    margin: 0;
    padding: 25px 0;
    width: 40%;
    float: left;
    color: #FFFFFF;
    padding: 0.65em;
    line-height: 1.5em;
    height: 100%;
    overflow: hidden;
}

.content .main h2 {
    position: relative;
    font-size: 1.25em;
    padding: 0;
}

.content .main i {
    position: absolute;
    bottom: -50px;
    font-size: 10em;
    opacity: 0.15;
    left: -50px;
}

.content.art-content .main {
    background: linear-gradient(140deg, #fd7b1f, #f33159);
}

.content.projects-content .main {
    background: linear-gradient(140deg, #f33159, #a02dbd);
}

.content.blog-content .main {
    background: linear-gradient(140deg, #a02dbd, #4280f1);
}

.content.about-content .main {
    background: linear-gradient(140deg, #4280f1, #0ab779);
}

.content.contact-content .main {
    background: linear-gradient(140deg, #0ab779, #9edc65);
}

.main-footer {
    position: relative;
    width: 100%;
    height: 6em;
    margin-top: 2em;
    text-align: center;
    padding-top: 1em;
}

.content section {
    padding: 20px 0;
    margin: 0 auto;
}

.content section h2 {
    color: #212121;
    font-family: Playfair Display;
    padding-left: 0;
    padding-top: 10px;
    border-bottom: thin dotted #cdcdcd;
    margin-bottom: 1em;
}

.content section p {
    padding: 20px 0;
}

.feature-content p {
    padding-left: 10px;
}

p.sub_desc {
    padding: 2em 0.5em 1em;
}

.tiles-wrapper {
    position: relative;
}

.tiles-container {
    padding: 10px 0;
}

.flex-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
    margin-right: -0.5vw;
    padding: 1vw 0;
}

/* Route Components Base Styles - End */

/* Prime Card Design - Start */

.prime-card {
    display: flex;
    min-height: 22em;
    height: 24vw;
    flex-direction: row;
}

.prime-card .dp {
    position: relative;
    width: 40%;
    height: 100%;
    overflow: hidden;
    z-index: 5;
}

.prime-card .dp>img {
    height: 100%;
    float: right;
}

.prime-card .info-wrapper {
    position: relative;
    width: 60%;
}

@media (max-width: 650px) {
    .prime-card {
        flex-direction: column;
        min-height: 30em;
        height: auto;
    }
    .prime-card .dp {
        width: 100%;
        height: 25em;
    }
    .prime-card .dp>img {
        width: 100%;
        height: auto;
    }
    .prime-card .info-wrapper {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 1200px) {
    .prime-card .dp {
        width: 38%;
    }
    .prime-card .info-wrapper {
        width: 62%;
    }
}

/* Prime Card Design - End */

/* Card Design - Start */

.card {
    position: relative;
    width: 48.5%;
    min-height: 330px;
    background: #FFFFFF;
    padding: 1.5em 1.5em 7em;
    border: thin solid #efefef;
    box-shadow: 0 3px 10px rgba(56, 55, 55, 0.06);
    font-family: Roboto;
    font-weight: 200;
    margin-bottom: 2em;
}

.card .title {
    margin: 0 0 1em;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.card:not(.featured-project) .title {
    margin: -1.5em -1.5em 0.5em;
    padding: 1.5em;
}

.card .title h3 {
    font-size: 1.6em;
    margin: 0;
    font-weight: 200;
    margin-top: -0.2em;
}

.card .tag-list {
    display: flex;
    margin: 1em 0 1.5em;
    cursor: pointer;
}

.card .tag-list li {
    display: flex;
    font-size: 0.75em;
    background: #f0f0f0;
    margin-right: 5px;
    margin-left: -10px;
    border-radius: 15px;
    align-items: center;
}
.card .tag-list li:first-child {
    margin-left: 0;
}

.card .tag-color {
    height: 30px;
    width: 30px;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    color: #ffff;
    text-transform: uppercase;
}

.card .tag-text {
    padding: 0;
    width: 0;
    transition: width 0.5s, padding 0.5s;
    overflow: hidden;
}

.card .tag-list.show-tags .tag-text {
    width: 60px;
    padding: 0 10px 0 6px;
}

.card.feature-content {
    width: 100%;
    height: 100%;
    margin-bottom: 2em;
}

@media (max-width: 650px) {
    .card {
        width: 100%;
        font-size: 1.25em;
    }
}

/* Card Design - End */

/* Tile Design - Start */

.tile {
    width: 24.4%;
    padding-bottom: 24.4%;
    position: relative;
    transform: translate3d(0, 0, 0);
    opacity: 1;
    margin: 0 0.6% 0.6% 0;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease-out, opacity 0.5s;
}

.tile.small {
    width: 16%;
    padding-bottom: 16%;
}

.tile.hide {
    transform: translate3d(0, 100px, 0);
    opacity: 0;
}

.tile i {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    font-size: 7em;
    transform: scale3d(1, 1, 1);
    transition: transform 0.5s;
}

.tile.small i {
    font-size: 5vw;
}

.tile:hover i, .tile:hover img {
    transform: scale3d(1.2, 1.2, 1);
}

.tile a {
    text-decoration: none;
}

.tile img {
    height: 7em;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: scale3d(1, 1, 1);
    transition: transform 0.5s;
}

.tile.small img {
    height: 5vw;
}

@media (max-width: 650px) {
    .tile.small {
        width: 24.4%;
        padding-bottom: 24.4%;
    }
    .tile i {
        font-size: 4em;
    }
    .tile img {
        height: 4em;
    }
    .tile.small i {
        font-size: 10vw;
    }
    .tile.small img {
        height: 10vw;
    }
}

/* Tile Design - End */

.alert {
    text-align: center;
    font-family: Roboto;
    font-size: 1.5em;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    line-height: 1.7em;
    padding: 0 0 2em;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 1.1em;
    color: #212121;
    margin: 0;
}

.clearfix:before, .clearfix:after {
    content: '';
    display: table;
    clear: both;
}

/* Button Styles - Start */

.button-wrapper {
    display: inline-block;
    position: relative;
    border: 2px solid rgba(33, 33, 33, 0.7);
}

.button-wrapper .background {
    height: 100%;
    position: absolute;
    width: 0;
    background-color: rgba(33, 33, 33, 0.7);
    -webkit-transition: width 0.2s ease-in;
    -moz-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
}

button {
    position: relative;
    display: block;
    padding: 12px 20px;
    background: transparent;
    margin: auto;
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    outline: none;
    font-weight: 700;
}

.button-wrapper:hover .background {
    width: 100%;
}

.button-wrapper:hover button {
    color: #FFFFFF;
}

/* Button Styles - End */

/* Input Styles - start */

.input-wrapper {
    margin: 0 0 10px;
}

.input-wrapper label {
    display: block;
    height: 0;
    width: 0;
    overflow: hidden;
}

.input-wrapper .border-highlight {
    height: 2px;
    background: #212121;
    position: relative;
    top: -2px;
    width: 0;
    -webkit-transition: width 0.2s ease-in;
    -moz-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
}

.input-wrapper:hover .border-highlight {
    width: 100%;
}

.input-wrapper input, .input-wrapper textarea {
    display: block;
    padding: 10px;
    font-size: 1.1em;
    border: 2px solid #ccc;
    font-family: 'Playfair Display', serif;
    width: 100%;
    outline: none;
}

.show-error .input-wrapper input.ng-invalid+.border-highlight, .show-error .input-wrapper textarea.ng-invalid+.border-highlight, .input-wrapper input.ng-invalid.ng-touched+.border-highlight, .input-wrapper textarea.ng-invalid.ng-touched+.border-highlight {
    width: 100%;
    background: #F44336;
}

/* Input Styles - end */

/* Scroll Directive Styles - Start */

.view-check {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    transition: transform 0.7s ease-out, opacity 0.7s;
    opacity: 1;
}

.below-view {
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
}

.above-view {
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 0;
}

.overview.below-view {
    -webkit-transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    transform: translateY(200px);
    opacity: 0;
}

.overview.above-view {
    -webkit-transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    transform: translateY(-200px);
    opacity: 0;
}

/* Scroll Directive Styles - End */

@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0
    }
    100% {
        background-position: 468px 0
    }
}

.animated-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    position: relative;
}

/* Tab Styles - Start */

@media (max-width: 650px) {
    .main-content {
        padding-top: 1em;
        margin: 0;
    }
    .main-content.fix-header {
        margin-top: 31em;
    }
    .content {
        padding: 2em 0.8em;
    }
    .content .dp.main {
        height: 5em;
    }
    .content .main i {
        left: -10px;
        bottom: -30px;
    }
    .content .feature-content {
        width: 100%;
        padding-top: 1em;
        min-height: 18em;
        height: auto;
        margin-bottom: 3em;
    }
    .overview.below-view {
        -webkit-transform: translateY(50px);
        -moz-transform: translateY(50px);
        -ms-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }
    .overview.above-view {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

/* Tab Styles - End */

/* Mobile Styles - Start */

@media (max-width: 500px) {
    .js-logo {
        background: #FFFFFF;
        margin-left: 0.5em;
    }
}

/* Mobile Styles - End */